xerial-core/src/test/java/org/xerial/util/xml/dtd/SigmodRecord.dtd

<!--
  DTD generated by PENELOPE.
  Copyright (c) 1999 Araneus Group and University 'Roma Tre', Rome, ITALY
  All rights reserved.
-->

<!ENTITY % carSet SYSTEM "http://www.cs.washington.edu/research/projects/xmltk/xmldata/data/sigmod-record/CarSet.cfg" >
%carSet;
 <!ELEMENT SigmodRecord (issue)* >
 <!ELEMENT issue (volume,number,articles) >
 <!ELEMENT volume (#PCDATA)>
 <!ELEMENT number (#PCDATA)>
 <!ELEMENT articles (article)* >
 <!ELEMENT article (title,initPage,endPage,authors) >
 <!ELEMENT title (#PCDATA)>
 <!ELEMENT initPage (#PCDATA)>
 <!ELEMENT endPage (#PCDATA)>
 <!ELEMENT authors (author)* >
 <!ELEMENT author (#PCDATA)>
 <!ATTLIST author position CDATA #IMPLIED>


